{% extends "base.html" %} {% block main %}

<h4>Select one the Algorithm below:</h4>
<div class="row">
  <div class="col-6">
    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
      <button
        class="list-group-item list-group-item-action btn-sm active"
        id="FCFS-list"
        data-toggle="list"
        data-target="#FCFS"
        role="tab"
        aria-controls="home"
      >
        First Come First Served
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="SJF-list"
        data-toggle="list"
        data-target="#SJF"
        role="tab"
        aria-controls="profile"
      >
        Shortest Job Next
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="list-messages-list"
        data-toggle="list"
        data-target="#PS"
        role="tab"
        aria-controls="messages"
      >
        Priority Scheduling
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="list-settings-list"
        data-toggle="list"
        data-target="#RR"
        role="tab"
        aria-controls="settings"
      >
        Round Robin
      </button>
    </div>
  </div>
</div>

<div class="mt-3 tab-content">
  <table
    class="fade show tab-pane active table table-hover table-bordered table-responsive"
    id="FCFS"
    role="tabpanel"
    aria-labelledby="FCFS-list"
  >
    <thead>
      <tr>
        <th scope="col">Process</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Execute Time</th>
        <th scope="col">Service Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">P0</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table
    class="fade tab-pane table table-hover table-bordered table-responsive collapse"
    id="SJF"
    role="tabpanel"
    aria-labelledby="SJF-list"
  >
    <thead>
      <tr>
        <th scope="col">Process</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Execute Time</th>
        <th scope="col">Service Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table
    class="fade tab-pane table table-hover table-bordered table-responsive collapse"
    id="PS"
    role="tabpanel"
    aria-labelledby="PS-list"
  >
    <thead>
      <tr>
        <th scope="col">Process</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Execute Time</th>
        <th scope="col">Service Time</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div
    id="RR"
    class="fade tab-pane collapse"
    role="tabpanel"
    aria-labelledby="RR-list"
  >
    <table class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th scope="col">Process</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Execute Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <label for="">
      Quantum
      <input class="form-control" type="number" name="quantum" id="">
    </label>
  </div>
</div>

{%endblock%}
