{% extends "base.html" %} {% block main %}

<h4>Select one the Algorithm below:</h4>
<div class="row">
  <div class="col-6">
    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
      <button
        class="list-group-item list-group-item-action btn-sm active"
        id="FCFS-list"
        data-toggle="list"
        data-target="#FCFS"
        role="tab"
        aria-controls="home"
      >
        First Come First Served
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="SJN-list"
        data-toggle="list"
        data-target="#SJN"
        role="tab"
        aria-controls="profile"
      >
        Shortest Job Next
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="list-messages-list"
        data-toggle="list"
        data-target="#PS"
        role="tab"
        aria-controls="messages"
      >
        Priority Scheduling
      </button>
      <button
        class="list-group-item list-group-item-action btn-sm"
        id="list-settings-list"
        data-toggle="list"
        data-target="#RR"
        role="tab"
        aria-controls="settings"
      >
        Round Robin
      </button>
    </div>
  </div>
</div>

<div class="mt-3 tab-content">
  <button type="button" class="btn btn-sm btn-success add-row">Add Row</button>
  <button type="button" class="btn btn-sm btn-danger remove-row">
    Remove Row
  </button>

  <div
    class="fade tab-pane show active"
    id="FCFS"
    role="tabpanel"
    aria-labelledby="FCFS-list"
  >
    <table
      class="table table-hover table-bordered table-responsive mt-3"
      id="FCFS-table"
    >
      <thead>
        <tr>
          <th scope="col">Process</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Execute Time</th>
          <th scope="col">Service Time</th>
        </tr>
      </thead>
      <tbody>
        <tr class="P0">
          <td scope="row" id="start">P0</td>
          <td>0</td>
          <td>
            <input
              id="execute0"
              class="form-control p-0"
              type="number"
              name="arrivalTime"
              min="0"
              value="0"
            />
          </td>
          <td id="service0">0</td>
        </tr>
      </tbody>
    </table>
    <button id="FCFS-btn" class="btn btn-md btn-success">Visualize</button>
  </div>

  <div
    class="fade tab-pane"
    id="SJN"
    role="tabpanel"
    aria-labelledby="SJN-list"
  >
    <table
      class="table table-hover table-bordered table-responsive mt-3"
      id="SJN-table"
    >
      <thead>
        <tr>
          <th scope="col">Process</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Execute Time</th>
          <th scope="col">Service Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="fade tab-pane" id="PS" role="tabpanel" aria-labelledby="PS-list">
    <table class="table table-hover table-bordered table-responsive mt-3">
      <thead>
        <tr>
          <th scope="col">Process</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Execute Time</th>
          <th scope="col">Service Time</th>
          <th scope="col">Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="RR" class="fade tab-pane" role="tabpanel" aria-labelledby="RR-list">
    <table class="table table-hover table-bordered table-responsive mt-3">
      <thead>
        <tr>
          <th scope="col">Process</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Execute Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <label for="">
      Quantum
      <input class="form-control" type="number" name="quantum" id="" />
    </label>
  </div>
</div>
<div class="chart-container mt-2" style="position: relative; height: 40vh; width: 80vw;">

  <canvas id="visualization" width="200" height="100"></canvas>
</div>

{%endblock%}
